@import '../../styles/base/variables';
@import '../../styles/base/mixins';

.name {
  $parent: &;
  background-color: map-get($colors, 'background');
  color: #fff;
  text-align: center;
  &__container {
    height: 100vh;
  }
  &__form {
    &--title {
      font-size: 3rem;
      @include mq-xs {
        font-size: 2rem;
      }
    }
    &--input {
      height: 45px;
    }
  }
  &__logo {
    &--image {
      @include mq-xs {
        width: 100px;
      }
    }
  }
}
