@import '../../styles/base/mixins';

.game {
  $parent: &;
  background: linear-gradient(180deg, #18253c, #0a2038);
  background-size: cover;
  height: 100vh;
  &__presentation {
    &--title {
      display: block;
      color: #fff;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      @include mq-landscape {
        display: none;
      }
      @include mq-sm {
        font-size: 1.2rem;
      }
    }
    &--storage {
      position: absolute;
      right: 50px;
      top: 60px;
      @include mq-md {
        display: none;
      }
    }
  }
  &__board {
    flex-wrap: nowrap;
    @include mq-sm {
      flex-wrap: wrap;
    }
    @include mq-landscape {
      flex-wrap: nowrap;
    }
  }
}
