$colors: (
  background: #02091e,
  background-button: #6527b4,
  background-button-hover: #7731d3,
  background-button-secondary: #fff,
  success: #0ab68c,
  success-light: #92ffe4,
  failed: #692338,
  failed-light: #de4170,
);
